--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
torch
requests
numpy
transformers
pillow
python-multipart                                                                            
